<div id="photos-box">
  <% @people.each do |person| %>
    <div class="each_person">
    <%= image_tag person.image_url, alt: person.name, class: "person_photo" %>
    <p><%= person.name %></p>
    </div>
  <% end %>
</div>
<button id="report-button" type="button">REPORT</button>
<div id="report-form">
  <%= form_for @person do |f| %>
    <%= f.label :name %>
    <%= f.file_field :name %>
    <%= f.submit "Submit Name" %>
  <% end%>
</div>
<%  %>